# Настройки сервера
PORT=3000
NODE_ENV=development

# База данных (PostgreSQL)
# Если используете Docker, оставьте как есть. 
# В противном случае замените на данные вашего сервера.
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/call_crm?schema=public"

# Redis (для очередей и задач)
REDIS_HOST=localhost
REDIS_PORT=6379

# Безопасность
# Секретный ключ для шифрования токенов (придумайте любой сложный)
JWT_SECRET=vash_sekretniy_kluch_zdes
BCRYPT_SALT_ROUNDS=10

# Сторонние API (Ключи запрашиваются в соответствующих сервисах)
DADATA_API_KEY=vash_kluch_dadata
SMS_RU_API_KEY=vash_id_sms_ru
EMAIL_USER=vash_email@yandex.ru
EMAIL_PASS=vash_parol_ot_pochti
